.container {
  --bg-color: #e1e6e9;
  --text-color: #17191a;
  --primary-color: #4ad093;
  --suplement-color: #d04a79;
  --secondary-color: #616975;

  width: 220px;
  height: 180px;
  padding: 4px;
  margin: 0;
  border: solid var(--primary-color) 2px;
  color: var(--text-color);
  font-family: monospace;
  font-size: 11px;
}

.container--warn {
  border-color: var(--suplement-color);
}

.report-button {
  color: var(--secondary-color);
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.requests-list {
  position: relative;
  width: 100%;
  height: 90px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: solid var(--secondary-color) 1px;
  border-bottom: solid var(--secondary-color) 1px;
}

.requests-list--empty:after {
  content: '<__MSG_empty__>';
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}

.requests-list__request {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
